@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  @* one wayt how to access viewComponen*@t
    
    @await Component.InvokeAsync("TopProducts")

   <h1>Well come my first conflict resolve project </h1>
</div>
